{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="description">
        <meta content="" name="keywords">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--JQUERY CDN -->
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
         crossorigin="anonymous"></script>
        <!-- style for popup close button -->
        <style>
            .close-button {
                position: absolute;
                top: 10px;
                right: 10px;
                font-size: 30px;
                cursor: pointer;
                color: #000;
            }           
    
        </style> 

        <!-- bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <!-- why github not working -->
        <!-- Favicons -->
        <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
        <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link href="{% static 'assets/vendor/animate.css/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

        
        <!-- Template Main CSS File -->

        <link href="{% static 'assets/css1/style1.css' %}" rel="stylesheet">

    </head>
    <body>
        <!--<start header> -->
        <header id="header" class="fixed-top mt-1">
            <div class="container  d-flex align-items-center">
                <!-- <img class="logo me-auto" src= "{% static 'assets/img/cbt_logo.png' %}" style="width:250px;height:50px;" alt="logo"> -->
                <a href="/">
                    <img class="logo me-auto" src="{% static 'images/cbt_logo.png' %}" style="width:250px; height:50px;"
                        alt="logo">
                </a>
    
                <nav id="navbar" class="navbar order-last order-lg-0" style="margin-left: 10%;">
                    <ul>
                        <li><a class="active" href="/">Home</a></li>
                        <li><a href="{% url 'about' %}">About Us</a></li>
                        <li class="dropdown"><a href="#"><span>Login</span></a>
                            <ul>
                <div class="container">
                                <li><a id="comloginbutton" href="#"> Company login</a></li>
                                <li><a href="#" id="cenloginbutton">Center Login</a></li>
                                <li><a  href="# "id="adminloginbutton"> Admin Login</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'courses' %}">Courses</a></li>
                        <li><a href="{% url 'services' %}">Services</a></li>
                        <!-- <li><a href="#" id="contactbutton">Contact Us</a></li> -->
                        <li><a href="{% url 'centerlist' %}">Center list</a></li>
                    </ul>
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </nav>
                <!-- .navbar -->
                <a href="#"id="contactbutton" class="get-started-btn">Demo</a>
            </div>
        </header><!-- End Header -->

        <!--  poup for company login  code -->       
        <section class="modal" id="comloginmodal">
            <main class="d-flex align-items-center mb-5 ">
                <div class="container">
                    <div class="col-md-6 offset-md-3 " style="height:40%">
                        <div class="card mt-3">
                            <div class="card-header text-white text-center" style="background-color:#99db9fdd;">
                                <p style="font-weight:bold;font-size:30px;color: #232f3e">Company Login
                                <p>
                            </div>

                            <div class="card-body ">
                                <form name="form" method="post" action="{% url 'comlogin' %}">
                                    {% csrf_token %}
                                    <div class="form-group pt-3 mt-2">
                                        <input type="email" name="email" class="form-control" id="com_email"
                                            placeholder="Enter Email id" required>
                                            {% comment %} <button class="btn btn-outline-success">Click Me</button> {% endcomment %}

                                    </div>

                                    <div class="form-group pt-3 mt-2">
                                        <input type="password" name="password" class="form-control" id="com_password"
                                            placeholder="Password" required>
                                    </div>

                                    <div class="row mt-3 ">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col">
                                                    <button class="btn btn-outline-success" type="submit"
                                                        style="font-weight:bold;">Signin
                                                    </button>
                                                </div>
                                                <div class="col">
                                                    <button class="btn btn-outline-success"
                                                        style="font-weight:bold;" id="signuploginbutton">don't
                                                        have an account?
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="col col-md-6 pb-4">
                                        
                                    
                                </div>
                                <a href="#" style="color:red">
                                    <p>Forget Password ?</p>
                                </a>
                                <span class="close-button" id="closecom">&times;</span>

                            </div>
                        </div>

                    </div>
                </div>
            </main>
        </section>       
        <!-- ended company login poupup-->

        <!-- popup for center login -->
        <section class="modal" id="cenloginmodal">
            <main class="d-flex align-items-center mb-5 ">
                <div class="container">

                    <div class="col-md-6 offset-md-3 " style="height:40%">
                        <div class="card mt-3">
                            <div class="card-header text-white text-center" style="background-color:#99db9fdd;">
                                <p style="font-weight:bold;font-size:30px;color: #232f3e">Center Login<p>
                            </div>

                            <div class="card-body ">
                                <form name="form" method="post" action="{% url 'centerlogin' %}">
                                    {% csrf_token %}
                                    <div class="form-group pt-3 mt-2">
                                        <input type="email" name="email" class="form-control" id="email"
                                            placeholder="Email id" required>

                                    </div>

                                    <div class="form-group pt-3 mt-2">
                                        <input type="password" name="password" class="form-control" id="password"
                                            placeholder="Password" required>
                                    </div>

                                    <div class="row mt-3">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col">
                                                    <button class="btn btn-outline-success" type="submit"
                                                        style="font-weight:bold;">Sign in
                                                        </button>
                                                </div>


                                            </div>
                                        </div>
                                        <div class="col">
                                            <a style="color:red;margin-top:5px;">
                                                <p>Forgot Password?</p>
                                                📞Contact your organizations
                                        </div>
                                    </div>
                                    <span class="close-button" id="closecen">&times;</span>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </section>        

        <!-- popup for admin Logn -->
        <section class="modal" id="adminloginmodal">
            <main class="d-flex align-items-center mb-5 ">
                <div class="container">
                    <div class="row " style="">
                        <div class="col-md-6 offset-md-3 " style="height:40%">
                            <div class="card mt-3">
                                <div class="card-header text-white text-center" style="background-color:#99db9fdd;">
                                    <p style="font-weight:bold;font-size:30px;color: #232f3e">Admin Login
                                    <p>
                                </div>

                                <div class="card-body ">
                                    <form name="form" method="post" action="{% url 'adminlogin' %}">
                                        {% csrf_token %}

                                        <div class="form-group pt-3 mt-2">
                                            <input type="email" name="email" class="form-control" id="center_email"
                                                placeholder="Email id" required>

                                        </div>

                                        <div class="form-group pt-3 mt-2">
                                            <input type="password" name="password" class="form-control" id="center_password"
                                                placeholder="Password"required>
                                        </div>

                                        <div class="row mt-3 pb-4">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">
                                                        <button class="btn btn-outline-success" type="submit"
                                                            style="font-weight:bold;">Sign
                                                            in</button>
                                                    </div>
                                                    <div class="col">
                                                        <button class="btn btn-outline-success" type="reset"
                                                            style="font-weight:bold;">Reset</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <span class="close-button" id="closeadmin">&times;</span>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </main>
            <!--Login close-->
        </section>       
        <!-- ended admin Login -->

        <!--  popup for sign up company -->  
        <section class="modal" id="signuploginmodal"> 
            <main class="d-flex align-items-center mb-5 ">
                <div class="container">
                    <div class="row "style="">
                        <div class="col-md-6 offset-md-3 ">
                            <div class="card mt-3">

                                <div class="card-header text-white text-center" style="background-color:#99db9fdd;">
                                    <p style="font-weight:bold;font-size:30px;color: #232f3e">Register Here<p>
                                </div>

                                <div class="card-body ">
                                    <form name="form" id="com_form" method="post" action="{% url 'comsignup' %}">
                                        {% csrf_token %}
                                        <div id="com_result" class="form-group text-center h5" style="display:none;"></div>
                                        <div class="form-group pt-3">
                                            <input type="text" name="name" class="form-control" id="com_signup_name" placeholder="Enter Organisation Name"required>
                                        </div>

                                        <div class="form-group pt-3">
                                            <input type="number" name="phone" class="form-control" id="com_signup_phone" placeholder="Phone number"required>
                                        </div>

                                        <div class="form-group pt-3">
                                            <input type="email" name="email" class="form-control" id="com_signup_email" placeholder="Email address"required>
                                        </div>

                                        <div class="form-group pt-3">
                                            <input type="password" name="password" class="form-control" id="com_signup_password" placeholder="Password"required>
                                        </div>

                                        <div class="form-group pt-3">
                                            <input type="text" name="cpassword" class="form-control" id="com_signup_cpassword" placeholder="Confirm Password"required>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">
                                                        <button class="btn btn-outline-success" type="submit" style="font-weight:bold;">Sign up</button>
                                                    </div>
                                                    <div class="col">
                                                        <button class="btn btn-outline-success"
                                                            style="font-weight:bold;" id="already">Already a User?
                                                        </button> 
                                                    </div>    
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <span class="close-button" id="closesignup">&times;</span>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </section>                 
        <!-- ended sign up code  of company login -->

        <!-- popup for contact  -->
        <section class="modal" id="contactmodal"> 
            <main class="d-flex align-items-center mb-5 ">
                <div class="container" >
                    <div class="row ">
                        <div class="col-md-6 offset-md-3 "style="height:40%">
                            <div class="card mt-3">
                                <div class="card-header text-center" style="background-color:#99db9fdd;">
                                    <p style="font-weight:bold;font-size:30px;">Request for Demo<p>
                                </div>

                                <div class="card-body ">
                                    <form name="form" id="contact_form" method="post">
                                        {% csrf_token %}
                                        <div id="contact_result" class="form-group text-center h4" style="display:none;font-weight: bold;"></div>
                                        <div class="form-group pt-3">
                                            <input type="text" name="contact_name" class="form-control" id="contact_name" placeholder="Your name"required>

                                        </div>

                                        <div class="form-group pt-3">
                                            <input type="email" name="contact_email" class="form-control" id="contact_email" placeholder="Email Address"required>

                                        </div>

                                        <div class="form-group pt-3">
                                            <input type="number" name="contact_phone" class="form-control" id="contact_phone" placeholder="Phone Number"required>

                                        </div>

                                        <div class="form-group  mt-2">
                                            <input type="text" name="contact_organization" class="form-control" id="contact_organization" placeholder="Organization name"required>

                                        </div>

                                        <div class="form-group  pt-3">
                                        <textarea name="contact_message" class="form-control" rows="4" id="contact_message" placeholder="Write your message"required></textarea>
                                        </div>

                                        <div class="row pt-3 pb-4">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col">
                                                        <button class="btn btn-outline-success" type="submit" style="font-weight:bold;">Submit</button>
                                                    </div>
                                                    <div class="col">
                                                        <button class="btn btn-outline-success" type="reset" style="font-weight:bold;">Reset</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                        
                                </div>
                                <span class="close-button" id="closecontact">&times;</span>

                            </div>
                        </div>

                    </div>
                </div>
            </main>
        </section>
        <!-- contact popup closed  -->

        <!--  JS CODE FOR POPUP -->
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                // code for company modal
                const comloginButton = document.getElementById('comloginbutton');
                const comloginModal = document.getElementById('comloginmodal');
                const closeComModal = document.getElementById('closecom');
                comloginButton.addEventListener('click', function () {
                    comloginModal.style.display = 'block';
                    signuploginModal.style.display = 'none'; //for disable 
                });

                closeComModal.addEventListener('click', function () {
                    comloginModal.style.display = 'none';
                    document.body.classList.remove('no-scroll');
                });
                // code for center modal
                const cenloginButton = document.getElementById('cenloginbutton');    
                const cenloginModal = document.getElementById('cenloginmodal');
                const closeCenModal = document.getElementById('closecen');
                cenloginButton.addEventListener('click', function () {
                    cenloginModal.style.display = 'block';
                    document.body.classList.remove('no-scroll');
                });

                closeCenModal.addEventListener('click', function () {
                    cenloginModal.style.display = 'none';
                    document.body.classList.remove('no-scroll');
                });

                // code for admin modal
                const adminloginButton = document.getElementById('adminloginbutton');
                const adminloginModal = document.getElementById('adminloginmodal');
                const closeadminModal = document.getElementById('closeadmin');

                adminloginButton.addEventListener('click', function () {
                    adminloginModal.style.display = 'block';
                    document.body.classList.remove('no-scroll');
                });
                closeadminModal.addEventListener('click', function () {
                    adminloginModal.style.display = 'none';
                    document.body.classList.remove('no-scroll');
                });

                // code for com signup modal
                const signuploginButton = document.getElementById('signuploginbutton');
                const signuploginModal = document.getElementById('signuploginmodal');
                const closesignupModal = document.getElementById('closesignup');

                signuploginButton.addEventListener('click', function () {
                    signuploginModal.style.display = 'block';
                    comloginModal.style.display = 'none';// for disable 
                });
                closesignupModal.addEventListener('click', function () {
                    signuploginModal.style.display = 'none';
                });

                // code for already a user model
                const  already = document.getElementById('already');
                const  alreadymodal = document.getElementById('alreadymodal');
                const closealready = document.getElementById('closealready');

                already.addEventListener('click', function () {
                    comloginModal.style.display = 'block';
                    signuploginModal.style.display = 'none';// for disable 
                });

                // code for contact modal
                const contactButton = document.getElementById('contactbutton');
                const contactModal = document.getElementById('contactmodal');
                const closecontact = document.getElementById('closecontact');

                contactButton.addEventListener('click', function () {
                    contactModal.style.display = 'block';
                    document.body.classList.remove('no-scroll');
                });
                closecontact.addEventListener('click', function () {
                    contactModal.style.display = 'none';
                });
                
            });
        </script>

        <!--  AJAX CODE FOR DATA SUBMITION -->
        <script>
            //CODE TO HANDLE CSRF_TOKEN
            function getCookie(name) {               
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                  var cookies = document.cookie.split(';');
                  for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Search for the CSRF token cookie
                    if (cookie.substring(0, name.length + 1) === name + '=') {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                    }
                  }
                }
                return cookieValue;
            }
            // AJAX FOR COMPANY SIGNUP DATA...
            $(document).ready(function() {
                $("#com_form").submit(function(event) {
                    event.preventDefault(); 

                    if($("#com_signup_cpassword").val() != $("#com_signup_password").val()){
                        $("#com_result").html("Password and Confirm password is not same")
                        $("#com_result").css("color", "red");
                        $("#com_result").show()
                    };
                    var formData = {
                    com_signup_name: $("#com_signup_name").val(),
                    com_signup_phone: $("#com_signup_phone").val(),
                    com_signup_email: $("#com_signup_email").val(),
                    com_signup_password: $("#com_signup_password").val(),
                    };
                
                    // Get the CSRF token
                    var csrftoken = getCookie('csrftoken');
                
                    
                    $.ajax({
                        url: '/comsignup/',
                        type: 'POST',
                        data: formData,
                        dataType: 'json',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        success: function(response) {
                            // Handle the response from the Django view
                            if (response.success) {
                                $("#com_result").html("<h3>Registered Succesfully!</h3><br/><h5> Please Login to Continue.</h5>")
                                $("#com_result").css("color", "#00ff00");

                                $("#com_result").show()
                                $("#contact_form")[0].reset();
                            } else {
                                $("#com_result").html("Something went Wrong!<h5> Please try again.</h5>")
                                $("#com_result").css("color", "red");

                                $("#com_result").show()
                            }
                        }
                    });
                });
            });

            // AJAX FOR CONTACT DATA...
            $(document).ready(function() {
                $("#contact_form").submit(function(event) {
                    event.preventDefault(); 

                    var formData = {
                    contact_name: $("#contact_name").val(),
                    contact_email: $("#contact_email").val(),
                    contact_phone: $("#contact_phone").val(),
                    contact_organization: $("#contact_organization").val(),
                    contact_message: $("#contact_message").val(),
                    };
                
                    // Get the CSRF token
                    var csrftoken = getCookie('csrftoken');
                
                    
                    $.ajax({
                        url: '/requestdemo/',
                        type: 'POST',
                        data: formData,
                        dataType: 'json',
                        headers: {
                            'X-CSRFToken': csrftoken
                        },
                        success: function(response) {
                            // Handle the response from the Django view
                            if (response.success) {
                                $("#contact_result").html("Request sent Succesfully<br/><h5> We will reach you soon...</h5>")
                                $("#contact_result").css("color", "#00ff00");
                                $("#contact_form")[0].reset();
                            } else {
                                $("#contact_result").html("Something went Wrong!!!")
                                $("#contact_result").css("color", "red");                                
                            }
                            $("#contact_result").show()
                        }
                    });
                });
            });
              
        </script>
        
    </body>
</html>
